apiVersion: v1
kind: Secret
metadata:
  name: matomo-db-secret
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: <Secure DB root password>
  MYSQL_DATABASE: matomo_wasserball
  MYSQL_USER: matomoWasserball
  MYSQL_PASSWORD: <Secure DB password>
