apiVersion: v1
kind: Secret
metadata:
  name: strapi-db-secret
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: <Secure DB root password>
  MYSQL_DATABASE: wasserball_strapi
  MYSQL_USER: strapi
  MYSQL_PASSWORD: <Secure DB password>