apiVersion: v1
kind: Secret
metadata:
  name: wasserball-strapi-secret
type: Opaque
stringData:
  DATABASE_USERNAME: <Database user>
  DATABASE_PASSWORD: <Secret Strapi DB Password>
  APP_KEYS: <Comma separated list of App Keys>
  API_TOKEN_SALT: <Secret Salt>
  ADMIN_JWT_SECRET: <Secret>
  TRANSFER_TOKEN_SALT: <Secret Salt>
  JWT_SECRET: <Secret>