apiVersion: v1
kind: Secret
metadata:
  name: wasserball-web-secret
type: Opaque
stringData:
  MATOMO_TOKEN_AUTH: <Generated token from Matomo>
  GOOGLE_MAPS_EMBED_API_KEY: <Google Maps Embed API key>
